# SMTP sozlamalari (Gmail misoli)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=sizning@gmail.com
SMTP_PASS=your_app_password_here

# Xabar qayerga yuborilsin
RECEIVER_EMAIL=sizning@gmail.com

# Frontend manzili (CORS uchun)
ALLOWED_ORIGIN=https://sizningsayt.uz

# Server port
PORT=3000
